<html lang='es'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <meta name='description' content='{{description}}' />
  </head>

  <body
    style='margin: auto; max-width:580px; font-family: Arial, sans-serif; padding: 20px; border: 1px solid #ddd; border-radius: 10px;'
  >
    <table cellpadding='0' cellspacing='0' width='100%'>
      <thead>
        <tr
          style='
          padding-bottom: 30px;
          padding: 8px 16px;
          border-radius: 16px;
        '
        >
          <td colspan='6' style='text-align: left;'>
            {{!-- {{#if company.logoBase64}}
                    <img src="{{company.logoBase64}}" alt="{{company.name}}" width="240" />
                    {{else}} --}}
            <h2 style='margin: 0'>
              {{company.name}}
            </h2>
            {{!-- {{/if}} --}}
          </td>
          <td colspan='6' style='text-align: right;'>
            <span style='text-align: end; color: #acacac'>
              Orden #{{orderNumber}}
            </span>
          </td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th colspan='12' style='padding: 18px 16px 18px 16px'>
            <h1 style='margin: 0'>¡Gracias por tu compra!</h1>
          </th>
        </tr>
        <tr>
          <td colspan='12' style='padding: 0 16px 18px 16px'>
            <p>
              Hola
              {{customer.firstName}}, realizaste la siguiente compra en
              {{company.name}}
              y esta es la confirmación de tu compra.
              {{#if company.whatsapp}}
                Si tienes alguna inquietud no dudes en contactarlos vía
                <a
                  href='https://api.whatsapp.com/send?phone={{company.whatsapp}}'
                >
                  Whatsapp
                </a>.
              {{/if}}
            </p>
          </td>
        </tr>
        <tr>
          <th
            colspan='12'
            style='
          background-color: #7b8be91a;
          color: #7b8be9;
          padding: 8px 16px;
          border-radius: 16px;
        '
          >
            <h2 style='margin: 0'>Resumen de la orden</h2>
          </th>
        </tr>

        <tr>
          <td colspan='12' style='padding: 8px 16px 8px 16px'>
            <table style='width: 100%'>
              {{! <tr>
                            <th colspan="12" style="padding: 8px 0">
                                <span>Tipo de entrega: en sitio</span>
                            </th>
                        </tr> }}
              {{#each purchaseOrders}}
                <tr style='border-bottom: 1px solid #eeeeee'>
                  <td colspan='6' style='padding: 16px 0'>
                    <h3 style='margin: 0'>
                      {{#if this.product.isSubscription}}
                        <span>Suscripción:&nbsp;</span>
                      {{/if}}
                      {{this.product.name}}
                    </h3>
                    <p style='margin: 0'>
                      {{#if this.product.isSubscription}}
                        {{this.product.measure}}
                        días: del
                        {{#if
                          this.membershipSubscription.startDate
                        }}{{this.membershipSubscription.startDate}}{{/if}}
                        al
                        {{#if
                          this.membershipSubscription.endDate
                        }}{{this.membershipSubscription.endDate}}{{/if}}
                      {{else}}
                        {{#if
                          this.product.description
                        }}{{this.product.description}}{{else}}
                          {{this.product.measure}}&nbsp;{{this.product.unit}}
                        {{/if}}

                      {{/if}}
                    </p>
                  </td>
                  <td colspan='2' style='text-align: end'>
                    {{#if this.inventory}}
                      <span>&nbsp;x&nbsp;{{this.inventory.quantity}}</span>
                    {{/if}}
                  </td>
                  <td colspan='4' style='text-align: end'>
                    <span
                      style='color:#646464; margin: 0'
                    >${{this.price.value}}</span>
                    <h3 style='margin: 0'>
                      {{#if this.inventory}}
                        {{#if this.inventory.quantity}}
                          {{this.totalPrice}}
                        {{/if}}
                      {{else}}
                        {{this.price.value}}
                      {{/if}}
                    </h3>
                  </td>
                </tr>
              {{/each}}
            </table>
          </td>
        </tr>
        <tr>
          <th
            colspan='12'
            style='
          background-color: #eeee;
          padding: 8px 16px;
          border-radius: 16px;
        '
          >
            <h2 style='margin: 0'>Medios de pago</h2>
          </th>
        </tr>

        <tr>
          <td colspan='12' style='padding: 8px 16px 8px 16px'>
            <table style='width: 100%'>
              {{#each transactions}}
                <tr style='border-bottom: 1px solid #eeeeee'>
                  <td colspan='7' style='padding: 16px 0'>
                    <h3 style='margin: 0'>
                      {{this.paymentMethod}}
                    </h3>
                  </td>
                  <td colspan='5' style='text-align: end'>
                    <span>&nbsp;x&nbsp;{{this.valuePaid}}</span>
                  </td>
                </tr>
              {{/each}}
            </table>
          </td>
        </tr>
        <tr>
          <td
            colspan='12'
            style='
          padding: 8px 16px 8px 16px;
          text-align: right;
          color: #333333;
          font-size: 14px;
        '
          >
            <table width='100%' border='0' cellspacing='0' cellpadding='0'>
              <tr>
                <td
                  style='text-align: right; font-weight: bold; color: #555555'
                >
                  Total:
                </td>
                <td style='width: 100px; text-align: right; color: #555555'>
                  ${{total}}
                </td>
              </tr>
              <tr>
                <td
                  style='text-align: right; font-weight: bold; color: #333333'
                >
                  Total pagado:
                </td>
                <td
                  style='
                width: 100px;
                text-align: right;
                font-weight: bold;
                color: #333333;
              '
                >
                  ${{valuePaid}}
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- Botón para ver la orden -->
        {{!-- <tr>
          <td colspan='12' style='text-align: center; padding: 36px 0'>
            <a
              href='https://vyva.solaradev.com/payment/{{orderNumber}}'
              style='
              background-color: #7b8be9;
              color: #ffffff;
              padding: 10px 30px;
              text-decoration: none;
              font-size: 14px;
              font-weight: 500;
              border-radius: 16px;
            '
            >
              Ver tu orden
            </a>
          </td>
        </tr>
        <tr>
          <td colspan='12' style='text-align: center; padding-bottom: 36px'>
            <a
              href='https://api.whatsapp.com/send?phone={{company.whatsapp}}'
              style='
              border: 1px solid #acacac;
              color: #000;
              padding: 10px 20px;
              text-decoration: none;
              font-size: 14px;
              font-weight: 500;
              border-radius: 16px;
              margin-bottom: 6px;
            '
            >
              Contactar a
              {{company.name}}
            </a>
          </td>

        </tr> --}}
        <tr>
          <td
            colspan='12'
            style='
          padding-bottom: 30px;
          padding: 8px 16px;
          border-radius: 16px;'
          >

            <p style='margin-bottom: 20px; text-align: center; color: #acacac'>
              Confirmación de pago emitida con Vyva
            </p>

            <p style='font-weight: 600; font-size: 18px; text-align: center; '>
              ¡Gracias por ayudarnos a preservar el medio ambiente!
            </p>
            <p style='color: #acacac'>
              Cambiar los tickets de compra impresos por confirmaciones de
              compra electrónicos reduce la huella de carbono que deja la
              producción de papel. Además tus clientes podrán consultar cada vez
              que los necesiten en su correo electrónico o en Vyva. Con Vyva
              realiza tus ventas online o en tu punto físico siguiendo 5
              sencillos pasos. Si deseas tener una demo y conocer todas las
              capacidades de Vyva,
              <a href='https://solaradev.com/contact-us/'>contáctanos</a>
            </p>
            <br />
          </td>
        </tr>
        {{!-- <tr>
          <td
            colspan='12'
            style='
          padding: 8px 16px;
          padding-bottom: 30px;
          border-radius: 16px;
          text-align: center;'
          >
            <a href='https://vyva.solaradev.com/preferences'>
              Configurar notificaciones
            </a>
          </td>
        </tr> --}}
      </tbody>
    </table>
  </body>

</html>